# Tags to hierarchies 
In this notebook, we will try to construct a reasonable term hierarchy from the tags using a mixed approach between co-occurences and density-based clustering.

In [1]:
import pandas as pd 
import numpy as np

In [2]:
#load clusters data 
df_clusters = pd.read_csv("data/stags_clusters_1000.csv")
df_clusters.head()

,Unnamed: 0,tag_id,book_count,count,tag_name,tag_tokens,sum_vector,avg_vector,db_scan_labels,clean_tag,bert_vector,db_scan_bert
0,0,0,7,24,-,[],[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,-1,NaN,[0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. ...,-1
1,1,1,2,6,--1-,['1'],[-2.86769986e-01 1.22570001e-01 2.42209993e-...,[-2.86769986e-01 1.22570001e-01 2.42209993e-...,0,1,[-6.39723003e-01 -1.96268648e-01 -3.05713415e-...,0
2,2,15,2,6,--6-,['6'],[-2.85340011e-01 1.12369999e-01 -1.90799996e-...,[-2.85340011e-01 1.12369999e-01 -1.90799996e-...,0,6,[ 8.20003748e-01 1.75049901e-02 1.25850391e+...,1
3,3,21,2,19,-calif--,['calif'],[ 1.81449994e-01 -7.21689999e-01 -3.77770007e-...,[ 1.81449994e-01 -7.21689999e-01 -3.77770007e-...,-1,calif,[ 0.34142002 -0.02697344 0.0456563 -0.914272...,-1
4,4,22,3,27,-d-c--,"['d', 'c']",[-7.62989968e-01 -2.55569965e-02 -1.02808999e+...,[-3.81494984e-01 -1.27784982e-02 -5.14044993e-...,-1,d c,[-1.33478153e+00 -7.09038973e-01 6.76068068e-...,-1

In [3]:
n_clusters = max(df_clusters["db_scan_bert"])

In [4]:
for i in range(-1, 83): 
    print("cluster", i, ":", list(df_clusters[df_clusters["db_scan_bert"]==i]["tag_id"].values))

cluster -1 : [0, 21, 22, 27, 30, 36, 38, 41, 43, 47, 62, 84, 98, 101, 107, 111, 112, 114, 122, 132, 162, 179, 183, 185, 190, 217, 236, 256, 262, 266, 281, 293, 329, 339, 359, 365, 368, 397, 426, 445, 463, 507, 534, 541, 603, 690, 769, 804, 915, 954, 956, 968, 987, 991, 1006, 1026, 1030, 1033, 1038, 1039, 1040, 1041, 1061, 1102, 1131, 1134, 1143, 1144, 1145, 1149, 1160, 1165, 1166, 1170, 1191, 1199, 1207, 1229, 1238, 1254, 1264, 1306, 1307, 1318, 1322, 1323, 1324, 1335, 1339, 1351, 1354, 1357, 1368, 1371, 1372, 1373, 1389, 1396, 1400, 1401, 1405, 1409, 1412, 1418, 1420, 1434, 1439, 1442, 1443, 1450, 1451, 1452, 1466, 1468, 1469, 1474, 1481, 1482, 1486, 1489, 1492, 1494, 1511, 1515, 1520, 1531, 1535, 1538, 1559, 1564, 1565, 1588, 1601, 1602, 1607, 1614, 1616, 1623, 1624, 1626, 1641, 1642, 1647, 1649, 1651, 1681, 1683, 1686, 1693, 1714, 1732, 1735, 1737, 1740, 1742, 1743, 1778, 1782, 1785, 1786, 1790, 1793, 1795, 1799, 1801, 1802, 1807, 1809, 1815, 1825, 1826, 1828, 1834, 1837, 1838, 1845, 1853, 1854, 1856, 1857, 1859, 1860, 1863, 1872, 1874, 1877, 1880, 1888, 1889, 1890, 1907, 1913, 1914, 1916, 1920, 1922, 1938, 1940, 1943, 1944, 1951, 1962, 1963, 1964, 1969, 1970, 1971, 1985, 1993, 2002, 2010, 2011, 2012, 2015, 2017, 2023, 2028, 2029, 2030, 2039, 2042, 2043, 2046, 2049, 2052, 2055, 2061, 2064, 2067, 2068, 2069, 2071, 2076, 2078, 2082, 2088, 2089, 2098, 2100, 2106, 2111, 2115, 2116, 2123, 2124, 2126, 2127, 2130, 2131, 2145, 2146, 2149, 2162, 2163, 2166, 2171, 2172, 2180, 2182, 2184, 2186, 2188, 2190, 2195, 2199, 2204, 2206, 2210, 2217, 2249, 2252, 2253, 2254, 2257, 2260, 2261, 2263, 2271, 2273, 2277, 2284, 2286, 2287, 2288, 2292, 2295, 2296, 2312, 2322, 2323, 2327, 2335, 2337, 2338, 2339, 2345, 2347, 2353, 2356, 2358, 2362, 2366, 2372, 2373, 2378, 2382, 2383, 2398, 2407, 2411, 2417, 2447, 2449, 2450, 2459, 2469, 2470, 2474, 2483, 2484, 2485, 2486, 2487, 2488, 2492, 2496, 2497, 2499, 2501, 2510, 2513, 2517, 2523, 2526, 2534, 2538, 2541, 2542, 2545, 2548]
cluster 0 : [1, 134, 139, 560, 982, 1056, 1110]
cluster 1 : [15, 1178]
cluster 2 : [23, 371, 374, 375, 378, 381, 384, 386, 389, 400, 405, 414, 420, 430, 442, 450, 461, 473, 487, 571, 661, 919, 1188, 1258, 1291, 1304, 1374, 1413, 1415, 1416, 1427, 1433, 1444, 1458, 1480, 1498, 1499, 1500, 1502, 1510, 1518, 1519, 1521, 1525, 1529, 1542, 1543, 1544, 1546, 1548, 1549, 1551, 1552, 1554, 1557, 1566, 1574, 1581, 1582, 1584, 1586, 1596, 1599, 1629, 1632, 1637, 1639, 1645, 1648, 1654, 1659, 1660, 1664, 1668, 1669, 1670, 1672, 1679, 1684, 1691, 1692, 1694, 1696, 1699, 1701, 1704, 1706, 1708, 1709, 1711, 1725, 1736, 1746, 1748, 1750, 1753, 1754, 1757, 1758, 1759, 1761, 1762, 1764, 1765, 1766, 1767, 1771, 1772, 1773, 1774, 1777, 1779, 1798, 1839, 1847, 1887, 1891, 1956, 1960, 1972, 1980, 1982, 1990, 2001, 2048, 2056, 2132, 2142, 2194, 2209, 2218, 2219, 2248, 2267, 2281, 2282, 2291, 2294, 2304, 2313, 2329, 2359, 2381, 2386, 2387, 2389, 2413, 2424, 2425, 2427, 2429, 2431, 2432, 2435, 2437, 2438, 2440, 2441, 2444, 2445, 2446, 2448, 2481, 2500, 2550, 2554, 2556]
cluster 3 : [71, 291]
cluster 4 : [86, 90]
cluster 5 : [113, 187, 199, 201, 204, 205, 206, 218, 219, 220, 227, 229, 233, 237, 239, 240, 241, 243, 246, 247, 248, 249, 250, 251, 252, 254, 257, 258, 259, 264, 273, 1018, 1027, 1028, 1029, 1088, 1092, 1136, 1137, 1153, 1157, 1194, 1195, 1196, 2223, 2224, 2225, 2226, 2227, 2228, 2229, 2231, 2232, 2233, 2234, 2236, 2241, 2242, 2243, 2244]
cluster 6 : [115, 124, 127]
cluster 7 : [136, 228]
cluster 8 : [143, 147]
cluster 9 : [159, 546, 547, 569, 584, 938, 949, 1069, 1179]
cluster 10 : [177, 574, 575, 1007, 1008, 1010, 1060, 1063, 1076, 1077, 1078, 1120, 1121, 1126, 1128, 1182]
cluster 11 : [186, 288, 300, 311, 313]
cluster 12 : [191, 192, 193, 194, 195, 196, 197, 210, 211, 215, 1138, 1222]
cluster 13 : [261, 267, 275]
cluster 14 : [271, 272, 1014, 1032, 1084, 1089]
cluster 15 : [284, 298, 308, 543, 969, 1048, 1105, 1173, 1200, 1225, 1226, 1243, 1244, 1265]
cluster 16 : [297, 307, 317, 327, 341, 348, 350, 362, 363, 392, 394, 509, 510, 512, 515, 518, 521, 522, 923, 926, 928, 930, 931, 932, 933, 941, 943, 945]
cluster 17 : [305, 1020, 1151, 1234]
cluster 18 : [334, 344, 356]
cluster 19 : [390, 506, 920, 940]
cluster 20 : [408, 409, 454, 459, 462, 468, 469, 470, 471, 475, 478, 479, 480, 481, 482, 483, 484, 485, 488, 489, 492, 494, 496, 498, 499, 500, 503, 597, 598, 605, 608, 609, 611, 615, 617]
cluster 21 : [413, 417, 449]
cluster 22 : [433, 434, 435]
cluster 23 : [536, 1103, 1172]
cluster 24 : [551, 971, 1052, 1109]
cluster 25 : [622, 629, 634, 639, 642, 643, 652, 657, 659, 660, 667, 670, 671, 672, 673, 681, 684, 685, 686, 687, 688, 691, 692, 694, 695, 696, 698, 699, 700, 709, 711, 712, 713, 714, 715, 717, 718, 719, 722, 723, 724, 733, 736, 738, 740, 741, 745, 746, 747, 749, 750, 751, 752, 753, 765, 766, 767, 770, 774, 779, 780, 781, 782, 783, 784, 785, 790, 799, 800, 805, 807, 809, 813, 814, 816, 820, 822, 823, 825, 829, 830, 831, 832, 833, 836, 852, 853, 855, 857, 860, 863, 871, 879, 881, 883, 888, 890, 892, 893, 894, 895, 896, 897, 902, 1086, 1133]
cluster 26 : [662, 1718, 1720]
cluster 27 : [676, 677, 679, 680]
cluster 28 : [682, 707]
cluster 29 : [705, 729, 761, 793]
cluster 30 : [726, 791, 835, 837, 901, 904]
cluster 31 : [727, 757, 792, 838, 905]
cluster 32 : [730, 762, 794]
cluster 33 : [760, 843]
cluster 34 : [935, 948]
cluster 35 : [1174, 1204]
cluster 36 : [1209, 1210, 1247, 1248, 1250]
cluster 37 : [1268, 1283]
cluster 38 : [1294, 1321, 1333, 1355, 1365, 1384]
cluster 39 : [1376, 1377]
cluster 40 : [1414, 2504]
cluster 41 : [1430, 1454]
cluster 42 : [1440, 1441]
cluster 43 : [1471, 1477]
cluster 44 : [1472, 1473]
cluster 45 : [1495, 1496]
cluster 46 : [1540, 1560]
cluster 47 : [1562, 1563]
cluster 48 : [1576, 1577]
cluster 49 : [1619, 1621]
cluster 50 : [1666, 1671]
cluster 51 : [1713, 2410]
cluster 52 : [1800, 1803]
cluster 53 : [1810, 1840]
cluster 54 : [1817, 1818]
cluster 55 : [1865, 1866, 1867, 1869, 1870]
cluster 56 : [1926, 1930, 1934, 1937]
cluster 57 : [1945, 1946]
cluster 58 : [1953, 1954, 1955]
cluster 59 : [1973, 1974]
cluster 60 : [1975, 1976, 1981, 1984, 1988, 1992, 2016, 2367]
cluster 61 : [2035, 2505]
cluster 62 : [2038, 2047]
cluster 63 : [2062, 2063]
cluster 64 : [2095, 2096]
cluster 65 : [2099, 2107]
cluster 66 : [2101, 2104]
cluster 67 : [2112, 2113]
cluster 68 : [2133, 2134, 2141]
cluster 69 : [2135, 2136, 2138, 2139, 2140]
cluster 70 : [2143, 2144]
cluster 71 : [2156, 2158]
cluster 72 : [2173, 2175, 2176, 2177]
cluster 73 : [2200, 2201]
cluster 74 : [2214, 2215]
cluster 75 : [2305, 2320]
cluster 76 : [2306, 2308]
cluster 77 : [2315, 2326, 2328, 2332]
cluster 78 : [2346, 2348]
cluster 79 : [2408, 2409]
cluster 80 : [2516, 2519]
cluster 81 : [2531, 2532, 2533]
cluster 82 : [2539, 2540]

In [5]:
bert_clusters = [] 
for i in range(0, n_clusters): 
    bert_clusters.append(list(df_clusters[df_clusters["db_scan_bert"]==i]["tag_id"].values))

In [6]:
print(bert_clusters[2])

[23, 371, 374, 375, 378, 381, 384, 386, 389, 400, 405, 414, 420, 430, 442, 450, 461, 473, 487, 571, 661, 919, 1188, 1258, 1291, 1304, 1374, 1413, 1415, 1416, 1427, 1433, 1444, 1458, 1480, 1498, 1499, 1500, 1502, 1510, 1518, 1519, 1521, 1525, 1529, 1542, 1543, 1544, 1546, 1548, 1549, 1551, 1552, 1554, 1557, 1566, 1574, 1581, 1582, 1584, 1586, 1596, 1599, 1629, 1632, 1637, 1639, 1645, 1648, 1654, 1659, 1660, 1664, 1668, 1669, 1670, 1672, 1679, 1684, 1691, 1692, 1694, 1696, 1699, 1701, 1704, 1706, 1708, 1709, 1711, 1725, 1736, 1746, 1748, 1750, 1753, 1754, 1757, 1758, 1759, 1761, 1762, 1764, 1765, 1766, 1767, 1771, 1772, 1773, 1774, 1777, 1779, 1798, 1839, 1847, 1887, 1891, 1956, 1960, 1972, 1980, 1982, 1990, 2001, 2048, 2056, 2132, 2142, 2194, 2209, 2218, 2219, 2248, 2267, 2281, 2282, 2291, 2294, 2304, 2313, 2329, 2359, 2381, 2386, 2387, 2389, 2413, 2424, 2425, 2427, 2429, 2431, 2432, 2435, 2437, 2438, 2440, 2441, 2444, 2445, 2446, 2448, 2481, 2500, 2550, 2554, 2556]

In [7]:
df_bt_reduced = pd.read_csv("book_tags_reduced.csv", index_col = 0)

In [8]:
df_bt_reduced

        goodreads_book_id  tag_id   count
0                       1   30574  167697
1                       1   11305   37174
2                       1   11557   34173
3                       1    8717   12986
4                       1   33114   12716
...                   ...     ...     ...
199995              32085   31430      13
199996              32085   19634      13
199997              32085   10093      12
199998              32085   14189      12
199999              32085   33105      12

[200000 rows x 3 columns]

In [9]:
df_occur = df_bt_reduced.groupby('tag_id').agg({'goodreads_book_id':lambda x: [_ for _ in x] }, 
                                   )

In [10]:
df_occur["count_occur"] = df_occur["goodreads_book_id"].apply(len)

In [11]:
df_occur["tag_id"] = df_occur.index

In [12]:
df_occur.head(20)

                         goodreads_book_id  count_occur  tag_id
tag_id
0                                    [665]            1       0
3                                   [5552]            1       3
11                                  [1032]            1      11
16                                  [5552]            1      16
22                                  [6588]            1      22
23                   [16429, 16435, 21323]            3      23
24                                 [22320]            1      24
27      [6588, 11666, 19674, 21683, 21685]            5      27
36                          [21683, 21685]            2      36
38                                  [7510]            1      38
41                             [665, 7675]            2      41
42                                  [7494]            1      42
43                                 [31271]            1      43
45                                   [665]            1      45
47                                 [25014]            1      47
49                                  [3061]            1      49
54                                   [119]            1      54
62                                 [19688]            1      62
64                                  [3061]            1      64
71                                 [24215]            1      71

In [13]:
df_cl2 = df_occur.loc[bert_clusters[2]]
df_cl2.dropna(inplace=True)
df_cl2

C:\Users\melania\Anaconda3\envs\rec-sys-test\lib\site-packages\ipykernel_launcher.py:1: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#deprecate-loc-reindex-listlike
  """Entry point for launching an IPython kernel.

                                        goodreads_book_id  count_occur  tag_id
tag_id
23                                  [16429, 16435, 21323]          3.0    23.0
371     [264, 304, 656, 1990, 2156, 2175, 2183, 2493, ...         63.0   371.0
374                                        [14662, 27822]          2.0   374.0
375                                         [1990, 24965]          2.0   375.0
384                                          [304, 16204]          2.0   384.0
...                                                   ...          ...     ...
2446                                       [18431, 19351]          2.0  2446.0
2448    [880, 1305, 1362, 1519, 1524, 1540, 1554, 1591...         20.0  2448.0
2550         [449, 3685, 7996, 8515, 12691, 17461, 32085]          7.0  2550.0
2554    [7979, 7980, 7981, 7983, 7987, 7993, 7996, 799...          9.0  2554.0
2556    [3685, 7979, 7980, 7981, 7983, 7987, 7993, 799...         14.0  2556.0

[110 rows x 3 columns]

In [14]:
df_cl2["num_books"] = df_cl2["goodreads_book_id"].apply(len)

In [15]:
df_cl2["num_books"].idxmax()

1659

In [16]:
df_cl2["goodreads_book_id"][1659]

[11,
 13,
 30,
 33,
 34,
 67,
 105,
 106,
 112,
 117,
 122,
 231,
 249,
 250,
 264,
 275,
 304,
 320,
 343,
 350,
 357,
 359,
 360,
 365,
 428,
 431,
 432,
 446,
 447,
 449,
 456,
 656,
 662,
 667,
 668,
 698,
 703,
 760,
 825,
 830,
 865,
 880,
 890,
 930,
 960,
 968,
 976,
 1078,
 1103,
 1110,
 1232,
 1241,
 1295,
 1307,
 1371,
 1375,
 1381,
 1420,
 1426,
 1427,
 1428,
 1430,
 1431,
 1554,
 1591,
 1618,
 1622,
 1625,
 1627,
 1849,
 1852,
 1885,
 1934,
 1953,
 1990,
 2049,
 2052,
 2054,
 2122,
 2137,
 2142,
 2152,
 2156,
 2165,
 2175,
 2187,
 2373,
 2430,
 2442,
 2493,
 2526,
 2623,
 2657,
 2666,
 2677,
 2696,
 2744,
 2748,
 2794,
 2865,
 2872,
 2873,
 2932,
 2956,
 2978,
 3049,
 3087,
 3102,
 3103,
 3273,
 3300,
 3378,
 3379,
 3381,
 3384,
 3446,
 3447,
 3462,
 3463,
 3464,
 3465,
 3466,
 3473,
 3476,
 3478,
 3483,
 3507,
 3581,
 3586,
 3590,
 3648,
 3656,
 3679,
 3686,
 3690,
 3692,
 3698,
 3710,
 3711,
 3717,
 3750,
 3757,
 3758,
 3759,
 3762,
 3763,
 3764,
 3805,
 3832,
 3836,
 3867,
 3876,
 3985,
 4005,
 4008,
 4009,
 4035,
 4136,
 4137,
 4214,
 4264,
 4268,
 4271,
 4381,
 4395,
 4406,
 4407,
 4473,
 4530,
 4588,
 4599,
 4625,
 4630,
 4633,
 4652,
 4656,
 4657,
 4659,
 4660,
 4671,
 4687,
 4701,
 4708,
 4796,
 4799,
 4900,
 4921,
 4929,
 4934,
 4950,
 4952,
 4953,
 4954,
 4955,
 4965,
 4978,
 4979,
 4980,
 4981,
 4982,
 4983,
 4984,
 4985,
 4986,
 4987,
 5015,
 5038,
 5043,
 5052,
 5053,
 5055,
 5062,
 5064,
 5068,
 5091,
 5093,
 5094,
 5096,
 5107,
 5113,
 5114,
 5129,
 5139,
 5148,
 5157,
 5158,
 5159,
 5161,
 5166,
 5167,
 5168,
 5171,
 5174,
 5175,
 5176,
 5179,
 5180,
 5181,
 5182,
 5186,
 5187,
 5190,
 5191,
 5196,
 5197,
 5198,
 5203,
 5204,
 5205,
 5211,
 5246,
 5296,
 5297,
 5308,
 5326,
 5338,
 5344,
 5345,
 5346,
 5347,
 5348,
 5349,
 5350,
 5351,
 5352,
 5354,
 5355,
 5356,
 5357,
 5358,
 5359,
 5360,
 5364,
 5368,
 5369,
 5413,
 5439,
 5470,
 5472,
 5479,
 5481,
 5517,
 5526,
 5527,
 5575,
 5720,
 5759,
 5797,
 5805,
 5826,
 5872,
 5890,
 5907,
 5942,
 5946,
 6138,
 6149,
 6150,
 6159,
 6185,
 6192,
 6194,
 6259,
 6288,
 6334,
 6419,
 6420,
 6422,
 6423,
 6424,
 6425,
 6426,
 6427,
 6440,
 6520,
 6526,
 6528,
 6530,
 6531,
 6534,
 6537,
 6538,
 6539,
 6541,
 6551,
 6554,
 6572,
 6588,
 6613,
 6614,
 6628,
 6697,
 6749,
 6753,
 6759,
 6819,
 6820,
 6853,
 6854,
 6858,
 6862,
 6867,
 6870,
 6872,
 6900,
 6952,
 6969,
 6976,
 7035,
 7036,
 7039,
 7053,
 7058,
 7061,
 7062,
 7069,
 7073,
 7081,
 7082,
 7126,
 7144,
 7190,
 7194,
 7199,
 7201,
 7244,
 7329,
 7332,
 7354,
 7432,
 7433,
 7437,
 7445,
 7455,
 7494,
 7510,
 7520,
 7531,
 7572,
 7588,
 7604,
 7613,
 7624,
 7628,
 7661,
 7663,
 7667,
 7668,
 7669,
 7670,
 7672,
 7673,
 7675,
 7677,
 7679,
 7682,
 7714,
 7723,
 7728,
 7733,
 7742,
 7745,
 7763,
 7805,
 7869,
 7968,
 7973,
 8087,
 8088,
 8155,
 8492,
 8646,
 8647,
 8648,
 8650,
 8680,
 8682,
 8694,
 8695,
 8698,
 8732,
 8852,
 8908,
 8909,
 8921,
 9014,
 9282,
 9298,
 9300,
 9301,
 9302,
 9303,
 9328,
 9355,
 9370,
 9375,
 9416,
 9417,
 9418,
 9419,
 9420,
 9503,
 9526,
 9532,
 9534,
 9539,
 9549,
 9555,
 9557,
 9566,
 9567,
 9569,
 9570,
 9589,
 9590,
 9592,
 9593,
 9594,
 9595,
 9597,
 9598,
 9601,
 9648,
 9654,
 9712,
 9717,
 9777,
 9784,
 9799,
 9804,
 9820,
 9827,
 9833,
 9838,
 9844,
 9864,
 9912,
 9913,
 9915,
 9943,
 9957,
 9998,
 10009,
 10073,
 10105,
 10108,
 10115,
 10222,
 10374,
 10441,
 10566,
 10567,
 10572,
 10574,
 10579,
 10583,
 10584,
 10585,
 10588,
 10589,
 10592,
 10596,
 10603,
 10605,
 10607,
 10614,
 10617,
 10618,
 10619,
 10625,
 10628,
 10629,
 10692,
 10739,
 10765,
 10775,
 10799,
 10867,
 10873,
 10908,
 10909,
 10910,
 10911,
 10912,
 10913,
 10914,
 10915,
 10916,
 10917,
 10920,
 10929,
 10956,
 10964,
 10965,
 10967,
 10975,
 10979,
 10987,
 10988,
 10990,
 11003,
 11012,
 11031,
 11041,
 11125,
 11149,
 11206,
 11208,
 11229,
 11275,
 11297,
 11298,
 11299,
 11318,
 11324,
 11334,
 11337,
 11346,
 11359,
 11376,
 11429,
 11430,
 11432,
 11433,
 11436,
 11437,
 11438,
 11449,
 11486,
 11507,
 11553,
 11557,
 11566,
 11570,
 11573,
 11588,
 11590,
 11597,
 11602,
 11607,
 11650,
 11686,
 11691,
 11713,
 11734,
 11741,
 11762,
 11768,
 11899,
 11901,
 11908,
 11915,
 11918,
 11919,
 11922,
 11989,
 11991,
 12021,
 12067,
 12083,
 12194,
 12220,
 12296,
 12349,
 12374,
 12395,
 12448,
 12467,
 12497,
 12555,
 12557,
 12657,
 12658,
 12659,
 12661,
 12663,
 12691,
 12722,
 12781,
 12873,
 12898,
 12914,
 12923,
 12938,
 12948,
 12957,
 12967,
 12985,
 13006,
 13020,
 13060,
 13061,
 13062,
 13063,
 13064,
 13065,
 13066,
 13068,
 13074,
 13079,
 13103,
 13128,
 13130,
 13131,
 13132,
 13133,
 13134,
 13136,
 13137,
 13140,
 13143,
 13145,
 13147,
 13148,
 13151,
 13153,
 13162,
 13214,
 13258,
 13374,
 13440,
 13451,
 13496,
 13497,
 13521,
 13529,
 13872,
 13888,
 13895,
 13925,
 13927,
 13928,
 13986,
 14014,
 14028,
 14050,
 14064,
 14069,
 14201,
 14249,
 14250,
 14280,
 14295,
 14316,
 14362,
 14376,
 14383,
 14384,
 14404,
 14469,
 14497,
 14554,
 14662,
 14748,
 14755,
 14756,
 14758,
 14785,
 14836,
 14839,
 14864,
 14865,
 14866,
 14891,
 14905,
 14935,
 14942,
 14963,
 14964,
 14965,
 14975,
 14995,
 14996,
 15047,
 15050,
 15054,
 15055,
 15096,
 15101,
 15154,
 15157,
 15158,
 15159,
 15161,
 15171,
 15241,
 15309,
 15398,
 15447,
 15547,
 15549,
 15559,
 15560,
 15566,
 15567,
 15568,
 15575,
 15613,
 15622,
 15638,
 15645,
 15655,
 15676,
 15677,
 15746,
 15752,
 15760,
 15764,
 15769,
 15836,
 15858,
 15860,
 15888,
 15904,
 15924,
 15925,
 15926,
 15931,
 15957,
 15997,
 16006,
 16055,
 16059,
 16076,
 16180,
 16181,
 16188,
 16200,
 16204,
 16235,
 16243,
 16249,
 16255,
 16256,
 16286,
 16297,
 16298,
 16299,
 16300,
 16304,
 16305,
 16307,
 16312,
 16316,
 16319,
 16322,
 16326,
 16328,
 16331,
 16333,
 16335,
 16341,
 16342,
 16343,
 16349,
 16360,
 16363,
 16372,
 16387,
 16396,
 16424,
 16429,
 16431,
 16433,
 16434,
 16435,
 16527,
 16532,
 16696,
 16697,
 16707,
 16729,
 16735,
 16788,
 16790,
 16793,
 16842,
 16948,
 16951,
 16981,
 17125,
 17143,
 17150,
 17174,
 17184,
 17204,
 17231,
 17245,
 17250,
 17267,
 17303,
 17309,
 17324,
 17343,
 17567,
 17645,
 17650,
 17660,
 17683,
 17690,
 17716,
 17728,
 17781,
 17799,
 17800,
 17803,
 17810,
 17877,
 18035,
 18135,
 18254,
 18266,
 18342,
 18373,
 18386,
 18402,
 18405,
 18423,
 18431,
 18452,
 18490,
 18512,
 18545,
 18723,
 18749,
 18750,
 18765,
 18825,
 18839,
 18864,
 18889,
 18892,
 18943,
 18989,
 18990,
 18999,
 19000,
 19001,
 19057,
 19089,
 19117,
 19380,
 19494,
 19501,
 19534,
 19581,
 19631,
 19661,
 19675,
 19687,
 19691,
 19707,
 20082,
 20252,
 20253,
 20563,
 20564,
 21324,
 21326,
 21327,
 21329,
 21337,
 21340,
 21362,
 21436,
 21445,
 21671,
 21681,
 21683,
 21685,
 21686,
 21704,
 21717,
 21718,
 21719,
 21720,
 21721,
 21722,
 21726,
 21727,
 21745,
 21787,
 21796,
 22026,
 22028,
 22034,
 22076,
 22206,
 22207,
 22283,
 22284,
 22288,
 22290,
 22304,
 22320,
 22322,
 22328,
 22649,
 22686,
 22695,
 22875,
 22896,
 22904,
 23031,
 23196,
 23217,
 23219,
 23220,
 23223,
 23289,
 23454,
 23522,
 23807,
 23814,
 23876,
 23878,
 23885,
 23919,
 23940,
 23955,
 23960,
 23966,
 24100,
 24128,
 24192,
 24244,
 24280,
 24472,
 24583,
 24724,
 24731,
 24796,
 24800,
 24830,
 24861,
 24870,
 24929,
 24937,
 24983,
 25176,
 25179,
 25190,
 25200,
 25347,
 25350,
 25354,
 25365,
 25657,
 25807,
 26046,
 26050,
 26097,
 26114,
 26506,
 26581,
 26582,
 26722,
 26999,
 27000,
 27001,
 ...]

In [17]:
df_tags = pd.read_csv("tags.csv")
df_tags.loc[1659]["tag_name"]

'adult-fiction'

In [21]:
related_tags = [] 
for row in df_cl2.iterrows(): 
#     print(row[1])
    if set(row[1]["goodreads_book_id"]).issubset(set(df_cl2["goodreads_book_id"][1659])): 
        print(row[1]["tag_id"])
        related_tags.append(int(row[1]["tag_id"]))

374.0
384.0
389.0
1258.0
1552.0
1648.0
1659.0
1664.0
1670.0
1679.0
1684.0
1696.0
1758.0
1771.0
1972.0
1982.0
2048.0
2194.0
2291.0
2304.0
2359.0
2389.0

In [22]:
related_tags_names = [] 
for index in related_tags:
    related_tags_names.append(df_tags.loc[index]["tag_name"]) 
    print(df_tags.loc[index]["tag_name"])

1830s
1870s
1890s
90s
action-suspense
adult-christian-fiction
adult-fiction
adult-literature
adult-novels
adult-romance
adultery
adventure-fiction
african-american-fiction
african-fiction
alex
alex-cross
alien
alvin
american-drama
american-historical-fiction
amnesia
amy-tan

In [24]:
print(related_tags_names)

['1830s', '1870s', '1890s', '90s', 'action-suspense', 'adult-christian-fiction', 'adult-fiction', 'adult-literature', 'adult-novels', 'adult-romance', 'adultery', 'adventure-fiction', 'african-american-fiction', 'african-fiction', 'alex', 'alex-cross', 'alien', 'alvin', 'american-drama', 'american-historical-fiction', 'amnesia', 'amy-tan']

Co-occurenses does not work :)